# Data/
# *.csv
# *.json
# *.xlsx
# *.db

# Models/
# *.h5
# *.pkl
# *.onnx
# *.pt

Notebooks/
*.ipynb

Templates/
*.html

venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd

.gitignore

# logs/
# *.log
# *.out
# *.err

# Configs/

# config.yaml
# secrets.json

# setup.py
